body {
  background-color: #e9e3e3;
}

.card-custom {
  transition: transform 0.3s;
}

.h1{
  text-decoration-color: #fff;
  text-align: center;
  color: #9995956c;

}



.container-fluid {
  background-color: rgb(31, 134, 21);
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

.card-custom:hover .btn-custom {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.navbar {
  background-color: #0d6821;
  border-bottom-color: #ce2e2e;
}

.btn-volver {
  color: #28a745;
  background-color: transparent;
  border: 2px solid #28a745;
  transition: all 0.3s ease;
}

.btn-volver:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  
}