{% extends "base.html" %}


{% block contenido  %}
    <h1>Listado de usuarios</h1>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Peso</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user_list in usuarios  %}
                    <tr>
                        <th scope="row">{{user_list.nombre}}</th>
                        <td>{{user_list.altura}}</td>
                        <td>{{user_list.peso}}</td>
                    </tr>                             
                    {% endfor %}

                </tbody>
              </table>
        </div>
    </div>
{% endblock  %}
